moobyf_dmp.aux
moobyf_dmp.bcf
moobyf_dmp.fdb_latexmk
moobyf_dmp.html
moobyf_dmp.synctex.gz
moobyf_dmp.run.xml
moobyf_dmp.pdf
moobyf_dmp.toc
moobyf_dmp.tex
moobyf_dmp.log
moobyf_dmp.fls
moobyf_dmp.docx
